@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: #094fe6 url("background.jpg") no-repeat fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.wrapper {
    width: 370px;
    padding: 2rem;
    border-radius: 7px;
    background: #1e71dda4;
}

.wrapper header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.wrapper form {
    margin: 2.5rem 0 1.3rem 0;
}

form :where(input, select, button){
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgba(239, 239, 243, 0.274);
}

form p {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
}

form input {
    height: 50px;
    font-size: 17px;
    padding: 0 1rem;
    border: 1px solid transparent;
}

form input:focus {
    padding: 0 14px;
    border: 2px solid #1e71dd7a;
}

form .drop-list {
    display: flex;
    margin-top: 1.3rem;
    align-items: center;
    justify-content: space-between;
}

.drop-list .select-box {
    display: flex;
    height: 45px;
    width: 115px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.select-box select {
    width: auto;
    font-size: 16px;
    margin-left: 5px;
    text-align: center;
}

.select-box select:hover {
    opacity: 0.8;
    cursor: pointer;
}

.select-box select::-webkit-scrollbar{
    width: 8px;
}
 
.select-box select::-webkit-scrollbar-track{
    background: #fff;
}
 
.select-box select::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
    border-right: 2px solid #fff;
}

.select-box img {
    max-width: 30%;
    border-radius: 15px;
}

.drop-list .icon {
    font-size: 20px;
    margin-top: 1.9rem;
}

.drop-list .icon:hover {
    opacity: 0.8;
    cursor: pointer;
}

form .exchange-rate {
    font-size: 30px;
    margin: 1.3rem 0 1.9rem;
    text-align: center;
}

form button {
    height: 52px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    background: #09a2dfda;
    transition: 0.4s;
}

form button:hover {
    color: #07b9ff;
    background: rgba(239, 239, 243, 0.274);
    transform: scale(0.95);
}

/* footer */

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.96);
}

#icon-footer {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.96);
    margin: 10px;
    cursor: pointer;
    width: 30%;
}

#icon-footer:hover {
    opacity: 0.8;
}

.titulo {
    font-size: 22px;
    margin: 15px auto;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding: -2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.96);
}